<header class="main-header" role="banner">
   <div class="logo">
      <a>Logo</a>
   </div>
   <nav class="nav-bar" role="navigation">
      <ul class="main-nav">
         <li><a [routerLink]="['/main/home']" [routerLinkActive]="['active']">Home</a></li>
         <li><a [routerLink]="['/main/service']" [routerLinkActive]="['active']">Services</a></li>
         <li><a [routerLink]="['/main/about']" [routerLinkActive]="['active']">About</a></li>
         <li><a [routerLink]="['/main/work']" [routerLinkActive]="['active']">Work</a></li>
         <li><a [routerLink]="['/main/contacts']" [routerLinkActive]="['active']">Contacts</a></li>
      </ul>
   </nav>
</header>
