<header class="app-header">
 <div class="logo">
    Logo
 </div>
 <div class="menu">
    <ul class="horizontal">
        <li><a [routerLink]="['/main/home']" [routerLinkActive]="['active']">Home</a></li>
        <li><a [routerLink]="['/main/service']" [routerLinkActive]="['active']">Service</a></li>
        <li><a [routerLink]="['/main/work']" [routerLinkActive]="['active']">Work</a></li>
        <li><a [routerLink]="['/main/about']" [routerLinkActive]="['active']">About</a></li>
        <li><a [routerLink]="['/main/contacts']" [routerLinkActive]="['active']">Contacts</a></li>
    </ul>
 </div>
</header>
