<main class="work-container">
    <h1>Our work</h1>
    <div class="desc">
        <p>We focus on Visual to wording, research, strategy and business goals.</p>
        <p>Web, Mobile Product and Branding</p>
    </div>
</main>

<!-- <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '640px'}" [numVisible]="5">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.previewImageSrc" style="width: 100%;" />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
            <img [src]="item.thumbnailImageSrc" />
        </div>
    </ng-template>
</p-galleria> -->