<main class="service-container">
    <h1>Services</h1>
    <div class="desc">
        <p>Pixibot Studio makes beautiful products to help pople with creative ideas succeed</p>
        <p class="sub-content">We firmly believe that design is the first and formost about solving problems. We offer a proven ability to conduct creative analysis and design best-fit solution for multi-faceted compaingn interactive media, web design and mobile application design </p>
    </div>
    <section class="services-list-wrapper">
        <div class="card-container">
            <p-card>
                <div class="research-img">
                    <img src="/assets/Idea Icon.png" alt="bulb" width="150" height="150">
                </div>
                <div class="card-body">
                    <div class="card-title">Researching</div>
                    <div class="card-content">It is important to always be strong in research so that you can come up with new innovative products.</div>
                </div>
            </p-card>
        </div>
        <div class="card-container design">
            <p-card class="design">
                <div class="research-img">
                    <img src="/assets/Design.png" alt="bulb" width="150" height="150">
                </div>
                <div class="card-body">
                    <div class="card-title">Design</div>
                    <div class="card-content">Design is the process of enhancing user satisfaction by improving the usability, accessibility and interaction between the user and the product.</div>
                </div>
            </p-card>
        </div>
        <div class="card-container dev">
            <p-card class="dev">
                <div class="research-img">
                    <img src="/assets/develop.png" alt="bulb" width="150" height="150">
                </div>
                <div class="card-body">
                    <div class="card-title">Development</div>
                    <div class="card-content">Our research and development team was working around the clock to make things better for our company and they were doing.</div>
                </div>
            </p-card>
        </div>
        <div class="card-container launch">
            <p-card class="launch">
                <div class="research-img">
                    <img src="/assets/lounch.png" alt="bulb" width="150" height="150">
                </div>
                <div class="card-body">
                    <div class="card-title">Launch</div>
                    <div class="card-content">There is nothing more rewarding than sucessful launch and turning over a completed project to a satisfied client.</div>
                </div>
            </p-card>
        </div>
    </section>
</main>