<h1>Contacts page!</h1>

<p-panel >
    <ng-template pTemplate="header">
        Header content here
    </ng-template>
        <div class="formgrid grid">
            <div class="field col-12 md:col-6">
                <label for="firstname6">Firstname</label>
                <input id="firstname6" type="text" pInputText  class="inputfield w-full">
            </div>
            <div class="field col-12 md:col-6">
                <label for="lastname6">Lastname</label>
                <input id="lastname6" type="text" pInputText  class="inputfield w-full">
            </div>
            <div class="field col-12">
                <label for="address">Address</label>
                <textarea id="address" type="text" rows="4" pInputText  class="inputfield w-full"></textarea>
            </div>
            <div class="field col-12 md:col-6">
                <label for="city">City</label>
                <input id="city" type="text" pInputText  class="inputfield w-full">
            </div>
            <div class="field col-12 md:col-3">
                <label for="state">State</label>
                <select id="state" class="w-full inputfield" pInputText style="appearance: auto">
                    <option>Arizona</option>
                    <option>California</option>
                    <option>Florida</option>
                    <option>Ohio</option>
                    <option>Washington</option>
                </select>
            </div>
            <div class="field col-12 md:col-3">
                <label for="zip">Zip</label>
                <input id="zip" type="text" pInputText  class="inputfield w-full">
            </div>
        </div>
    <ng-template pTemplate="footer">
        Footer content here
    </ng-template>
</p-panel>