.contact-container {
    display: block;
    background-image: url('/assets/contact-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: top -105px right;
    // height: 895px;
    width:100%;
    padding: 2.5em 4.5em;
    h1 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0.5em;
    }
    .contact-content {
        text-align: center;
        line-height: 1.5;
        width: 50%;
        margin: 0 auto;
        color: #a3663b;
        font-size: 26px;
        p {
            margin-bottom: 1.5rem;
        }
    }
    @media only screen and (max-width: 768px) {
        .contact-content {
            width: 100%;
            font-size: 20px;
        }
    }
    @media only screen and (min-width: 769px) and (max-width: 959px) {
        .contact-content {
            font-size: 18px;
        }
    }
    .content-wrapper {
        display: flex;
        justify-content: center;
        margin: 6rem 7rem 3rem 7rem;
        .address-wrapper {
            display: flex;
            color: #a3663b;
            font-size: 1.8rem;
            margin-top: 4rem;
            width: 300px;
            .address {
                h2 {
                    font-weight: normal;
                }
                p{
                    // width: 250px;
                }
            }
            .map {
                width: 436px;
                height: 367px;
                background-color: bisque;
                margin-right: 3.5rem;
                .map-area {
                    width: 436px;
                    height: 367px;
                }
            }
        }
        .contact-form {
            margin-bottom: 2rem;
            width: 700px;
            h2 {
                color: #a3663b;
                font-weight: normal;
            }
            .formgrid.grid {
                margin-top: 1.25rem;
                .field input, .field select, .field textarea {
                    border-radius: 0;
                    border: 0;
                    background-color: #f6f2ee;
                    box-shadow: inset 1px 2px 4px #939290;
                    border-right: 1px solid #939290;
                    padding: 0.5rem 0.75rem;
                }
                .field select {
                    padding: 0.62rem 0.75rem;
                }
                .field > label {
                    margin-bottom: 0;
                    color: #a3663b;
                }
                .field .submit {
                    background-color: #e6d1b6;
                    color: #a3663b;
                    border: 0;
                    padding: 0.5rem 0.75rem;
                    font-size: 1.5rem;
                    border-radius: 6px;
                }
            }
        }
    }
    @media only screen and (max-width: 768px) {
        .content-wrapper {
            flex-direction: column;
        }
    }
    @media only screen and (min-width: 769px) and (max-width: 959px) {
        .content-wrapper {
            flex-direction: column;
            .address-wrapper {
                flex-direction: column;
                margin: 0 auto;
                text-align: center;
                p {
                    width: 100%;
                }
            }
            .contact-form {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .contact-container {
        padding: 2.5em 3.5em;
        .contact-content p {
            padding: 0 0.75rem;
        }
        .content-wrapper {
            flex-direction: column;
            margin: 0;
            .address-wrapper {
                flex-direction: column;
                margin: 0 auto;
                text-align: center;
                p {
                    width: 100%;
                }
                // .map {
                //     width: 250px;
                //     height: 250px;
                //     background-color: bisque;
                //     margin-right: 3.5rem;
                //     .map-area {
                //         width: 250px;
                //         height: 250px;
                //     }
                // }
            }
            .contact-form {
                width: 100%;
            }
        }
    }
}