<main class="about-container">
    <h1 class="about-title">About us & what we do</h1>
    <div class="contet-wrapper col-12 md:col-12 xl:col-6">
        <p>We are detail-oriented individuals with a passion for excellence. We are adept at listening to clients’ needs, then analyzing and implementing the best-designed solution. We work cohesively on every project</p>
        <p>This is our Design studio called PIXIEBOT Studios. We have a very strong background in design, marketing, branding, enterprise solution for web, mobile, print design, digital design, and media marketing.</p>
        <p>We have assisted clients from many backgrounds and industries to design and implement thoughtful and impactful branding tools to help grow their business</p>
    </div>
</main>