<footer class="main-footer" role="contentinfo">
    <nav class="social-icons" aria-label="Get connected info">
        <ul>
            <li>
                <a class="icon-fallback-text" href="#" title="The PixieBot Studio on Facebook">
                  <span class="icon fa fa-facebook" aria-hidden="true"></span>
                  <span class="fallback-text">Facebook</span>
                </a>
            </li>
            <li>
                <a class="icon-fallback-text" href="#" title="The PixieBot Studio on Twitter">
                    <span class="icon fa fa-twitter" aria-hidden="true"></span>
                    <span class="fallback-text">Twitter</span>
                </a>
            </li>
            <li>
                <a class="icon-fallback-text" href="#" title="The PixieBot Studio on gmail">
                    <span class="icon fa fa-google" aria-hidden="true"></span>
                    <span class="fallback-text">Gmail</span>
                </a>
            </li>
            <li>
                <a class="icon-fallback-text" href="#" title="The PixieBot Studio on linkedin">
                    <span class="icon fa fa-linkedin" aria-hidden="true"></span>
                    <span class="fallback-text">linkedin</span>
                </a>
            </li>
        </ul> 
      </nav>
</footer>