<main class="main-content" role="main">
    <div class="main-content-container">
        <!-- <img src="/assets/1.png" [alt]=" " class="product-image" width="560" height="500"/> -->
        <!-- <div class="img-container">
            <img src="../../../assets/wireframe.png" alt="responsive wireframe layouts" width="723" height="413">
            <div class="desc">Responsive Web & Mobile Design Digital Design </div>
        </div> -->
        <p-carousel styleClass="custom-carousel" [value]="design" [numVisible]="1" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions">
            <ng-template let-design pTemplate="item">
                <div class="mb-3">
                    <div class="grid">
                        <div class="col-12 md:col-12 lg:col-6 content">
                            <h1>{{design.title}}</h1>
                            <p>{{design.text}}</p>
                        </div>
                        <div class="col-12 md:col-12 lg:col-6 img-container">
                            <img src="/assets/{{design.image}}" width="700px"/>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</main>

