<main class="main-content" role="main">
    <div class="main-content-container">
        <div class="content">
            <h1>UX-UI Branding Design Agency</h1>
            <p>Our UX - UI design solutions at PixieBot is driven by Design thinking. We believe in creating intuitive, innovative and user-friendly 
                solutions for the mobile and the web devices. Our work helps clients to spread their business value and also analyze user behaviour
                 for measurable engagement and further strategies.</p>
        </div>
        <div class="img-container">
            <img src="../../../assets/wireframe.png" alt="responsive wireframe layouts" width="723" height="413">
            <div class="desc">Responsive Web & Mobile Design Digital Design </div>
        </div>
    </div>  
</main>

