/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #000;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    line-height: 1.6;
    margin: 0;
 }

 *, :after, :before {
    box-sizing: border-box;
}